#container {
    margin: 5% auto 5%;
    width: 600px;
}

body {
    background: rgb(246, 244, 244);
}

nav ul {
    list-style-type: none;
 }
nav ul li {
    text-decoration: none;
    float: left;
    padding: 5% 5%;
 }
 
a:link {
    text-decoration: none;
}

/* Drop down CSS */

.dropdown {
    padding: 5% 5%;
    /* position: relative;  */
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
 
.clearfix {
    clear:both;
}
h1, h2, h3, p {
    text-align: center;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
}


/* Rainbow class to center the ul bulleted list and to not affect the navbar */
.rainbow {
    margin: 0 auto 20%;
    width: 100px;
}

/* Rainbow colors */
#red {
    color: rgb(255, 0, 0);
}

#orange {
    color: rgb(255, 128, 0);
}

#yellow {
    color: yellow;
}

#green {
    color: #008000;
}

#blue {
    color: rgb(0, 0, 255);
}

#indigo {
    color: rgb(75, 0, 130);
}

#violet {
    color: rgb(148, 0, 211);
}

/* List of names displayed */
#names {
    text-align: center;
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
}

/* Social Media Icon */
.fa:hover {
      opacity: 0.7;
}
  
/* Contact Page */
#form_container {
    width: 265px;
    margin: 0 auto 0;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

/* sidebar CSS */
aside {
    position: fixed;
    width: 20%;
    top: 30%;
    right: 0;
    border: 3px solid black;
    padding-left: 30px;
    background-color: rgb(230, 169, 224);
}

aside h3, aside a {
    display: block;
    color: darkslategrey;
    line-height: 30px;
    font-style: italic;
    text-align: center;
    padding: 10px auto;
}

aside h3 {
    color:  #940984;
}
